.disp{
	display:none;
}
.mar_bot{
	padding-top:60px;
	padding-bottom:70px;
}
h4.section-item-title-1{
	border-bottom: none!important;	
	text-transform: none!important;
	font-size: 20px!important;
}
.def_ttitle{
	padding-left: 40px;
	padding-top: 40px;
}

/* widget */

.widget ul {
    padding-left: 0px!important;
    margin: 0 0 40px 0!important;
}
.widget ul li{
	list-style: none;
	font-size: 12px;
	line-height:28px;
}
.widget ul li ul li{
	list-style: none;
	font-size: 12px;
	line-height:22px;
	margin-left:10px;
}
.widget ul li a{
	text-decoration: none;
	color: #333333;
	font-size: 13px;	
}
.widget ul li a:hover {
	color: #249991!important;
}
.widget ul li ul li a{
	text-decoration: none;
	color: #333333;
}
.widget_search {
	margin-bottom: 40px;
}
.tagcloud a{
	padding: 4px;
	text-align: center;
	font-size:12px!important;
	border: 2px solid #cccccc;
	display: inline-block;
	vertical-align: middle;
	text-decoration:none;
	margin: 0 10px 10px 0;
	color: #333333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
}

/* Search widget */

.screen-reader-text{
	display:none;
}
#s{
    padding: 8.5px;
    border-radius: 4px;
    border: 2px solid #ccc;
}
#searchsubmit{
    width: 62px;
    height: 36px;
    border-radius: 4px;
    background: #031634;
    color: #fff;
    margin-left: -2px;
    border: none;
	font-weight: bold;    
}
#searchsubmit:hover {
	background: #080808;
}

/* Pagination */

.page-numbers{
	min-width: 40px;
	padding: 12px;
	text-align: center;
	line-height: 35px;
	border: 2px solid #cccccc;
	display: inline-block;
	vertical-align: middle;
	/*float: left;*/
	margin: 0 10px 0 0;
	color: #cccccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.line-paginator a{
	min-width: 40px;
	padding: 12px;
	text-align: center;
	line-height: 35px;
	border: 2px solid #cccccc;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
	color: #cccccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.line-paginator .current {
	background: #249991;
	color: #ffffff;
	border-color: #249991;
}
/* Default Css */

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid #707070;
	border-left: 4px solid rgba(51, 51, 51, 0.7);
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-size: 18px;
	font-size: 1.8rem;
	font-style: italic;
	line-height: 1.6667;
	margin-bottom: 1.6667em;
	padding-left: 0.7778em;
}

blockquote p {
	margin-bottom: 1.6667em;
}

blockquote > p:last-child {
	margin-bottom: 0;
}

blockquote cite,
blockquote small {
	color: #333;
	font-size: 15px;
	font-size: 1.5rem;
	font-family: "Noto Sans", sans-serif;
	line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

address {
	font-style: italic;
	margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.01);
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	line-height: 1.2;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 0.8em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

abbr[title] {
	border-bottom: 1px dotted #eaeaea;
	border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
	cursor: help;
}

mark,
ins {
	background-color: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}


/* 4.0 Elements */

hr {
	background-color: #eaeaea;
	background-color: rgba(51, 51, 51, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 1.6em;
}

ul,
ol {
	margin: 0 0 1.6em 1.3333em;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin-bottom: 1.6em;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.6em;
}

table,
th,
td {
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.6em;
	table-layout: fixed; /* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th, td {
	padding: 0.4em;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

figure {
	margin: 0;
}

del {
	opacity: 0.8;
}
a:hover{
	text-decoration:none;
}
.skills-list li:nth-child(4)>.progress>.progress-bar-3 {
	background:#326431;
}
.skills-list li:nth-child(5)>.progress>.progress-bar-3 {
	background:#728114;
}

li > ul, li > ol, blockquote > ul, blockquote > ol {
  margin-left: 1.9999em;
}
@media (max-width:767px){
/*.btn-blog>.btn-hide-text{display:none;}*/
.mob-open{display:block!important;}
#wpadminbar {top:-50px!important;}
.nivo-lightbox-wrap {
    bottom: 10%!important;
    position: relative!important;
    margin-top: 145px!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
}
.nivo-lightbox-title-wrap {
    top: 100%!important;
/*    line-height: 46px!important; */
}
.nivo-lightbox-theme-default .nivo-lightbox-title {
    padding:14px!important;	
}
.side-menu-open {
    height: 10%!important;
}
}
.bg1 {
    margin-bottom: -1px;
	}


.content-pd {
	padding: 0 50px 0 90px;	
}
.col-pd {
	padding: 0 30px;
}
.line-thumb img {
	margin: 20px 0;
	/*border: 4px solid #249991!important;*/
}
.line-thumb img:hover {
	opacity: 0.6;
	/*border: 4px solid #a94442!important;*/
}
.blog-text p {
	text-align: justify;
}
.blog-title:hover {
	color: #a94442;
}
.form-submit input[type=submit] {
	padding: 8px 10px;
    border-radius: 4px;
    background: #031634;
    color: #fff;
    margin: 10px 0;
    border: none;
    font-weight: bold;	
}
.form-submit input[type=submit]:hover {
	background: #080808;
}
.line-title {
	margin-bottom: 20px;
}
.commentlist {
	list-style: none;
    margin: 0;
    padding: 0;	
}
.comment-avatar {
    float: left;
    margin: 0 30px 0 0;	
}
.comment-avatar img {
    border-radius: 50px;
}
.comment-author {
    font-size: 14px;
    color: #999999;
    margin-bottom: 10px	
}
.comment-reply-link {
    color: #249991;	
}
.line-comments {
	margin-top: 30px;
}
#respond {
	margin-top: 40px;	
}	